<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Genie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="static/modules.css" rel="stylesheet">
    <link href="static/grid.css" rel="stylesheet">
    <link href="static/type.css" rel="stylesheet">
    <link href="static/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Lora|Playfair+Display" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
</head>

<body>
<header>
</header>
<main>
    <section class="width push">
    <div class="text-center relative push-double">
    <img class="text-center absolute pin-c pad-top" src="static/dna-04.png" alt="logo">
    </div>
    <div class="island-double push-double">
        <h1 class="text-center zetta grey pf">Where the Genes flow</h1>
        <p class="text-center w-1-2 center mega">Follow the genes across countries, species. Our interactive journey
            helps with comprehending visualization of gene data.</p>
        <div class="text-center pad-top-double">
            <a class="island-half btn kilo" href="/map_species">Begin here!</a>
        </div>
    </div>
    </section>
    <section class="pad-top-double text-center italic" >
        <h2 class="yotta l gr">Nucleotide juxtaposition</h2>
         <p class="mega island-double not-italic">The nucleotide sequence of varied species of mosquitoes was compared. A map for the visual data inferred through algorithms produced species with minimal and maximum difference</p>
        <section>
            <div class="grid">
        <div class="unit xs-1 s-1 m-1 l-1">
            <img class="img-flex" src="static/dna-05.png" alt="closest">
        </div>
        <div class="unit xs-1 s-1 m-1 l-1 pad-top-double">
            <p clas="pad-top-double text-center not-italic">With minimal variations in the nucleotide sequence, the closely related species, categorized based on the genes, were identified </p>
        </div>
            </div>

        <div class="grid">
        <div class="unit xs-1 s-1 m-1 l-1 text-center">
            <img class="img-flex" src="static/dna-06.png" alt="closest">
        </div>
        <div class="unit xs-1 s-1 m-1 l-1 text-center">
            <p class="not-italic">With maximum variations in the nucleotide sequence, the closely related species, categorized based on the genes, were identified. </p>
        </div>
            </div>
        </section>
    </section>
    <footer class="green pad-top-double pad-bottom">
        <p class="mega l text-center grey">Where the Gene flows</p>
        <p class="milli white text-center">Contact:<br> Abhinandan Ramaprasath<br>Shrinidhi Sridhar</p>
    </footer>
</main>
</body>
</html>