<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Genie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="static/modules.css" rel="stylesheet">
    <link href="static/grid.css" rel="stylesheet">
    <link href="static/type.css" rel="stylesheet">
    <link href="static/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Lora|Playfair+Display" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="static/jquery.mapael.js" charset="utf-8"></script>
</head>

<body>
<header>
    <h1 class="island-double left">Genie</h1>
</header>
<main>
    <div class="island-double">
        <h2 class="text-center exa grey pf">Where the Genes flow</h2>
        <p class="text-center w-1-2 center mega">Follow the genes across countries, species. Our interactive journey
            helps with comprehending visualization of gene data.</p>
        <div class="text-center pad-top-double">
            <a class="island-half btn kilo" href="/map_species">Begin here!</a>
        </div>
    </div>
</main>
</body>
</html>