<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Locate the species</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="static/modules.css" rel="stylesheet">
    <link href="static/grid.css" rel="stylesheet">
    <link href="static/type.css" rel="stylesheet">
    <link href="static/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Lora|Playfair+Display" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQhicceUKIVPN_jnphaXSW4G-uMD39uDE&callback=initMap"></script>

    <script type="text/javascript">
        var plots = {};
        var customIcon = {};
        var customIcon2 = {};
        var markers = [];
        var map;
        function initMap() {
            customIcon = {
                url: "static/dna-01.png",
                scaledSize: new google.maps.Size(20, 20)
            };

            customIcon2 = {
                url: "static/dna-02.png",
                scaledSize: new google.maps.Size(20, 20)
            };

            google.maps.Map.prototype.clearOverlays = function () {
                for (var i = 0; i < markers.length; i++) {
                    markers[i].setMap(null);
                }
                markers.length = 0;
            };
            $.getJSON("/plots", function (data) {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 0, lng: 0},
                    zoom: 2,
                    minZoom: 2,
                    maxZoom: 8,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    disableDefaultUI: true,
                    styles: [
                        {
                            "featureType": "water",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "simplified"
                                },
                                {
                                    "hue": "#ffffff"
                                },
                                {
                                    "saturation": -78
                                },
                                {
                                    "lightness": 67
                                }
                            ]
                        },
                        {
                            "featureType": "landscape",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "simplified"
                                },
                                {
                                    "hue": "#e9ebed"
                                },
                                {
                                    "saturation": -100
                                },
                                {
                                    "lightness": 100
                                }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "visibility": "simplified"
                                },
                                {
                                    "hue": "#bbc0c4"
                                },
                                {
                                    "saturation": -93
                                },
                                {
                                    "lightness": 31
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "off"
                                },
                                {
                                    "hue": "#ffffff"
                                },
                                {
                                    "saturation": -100
                                },
                                {
                                    "lightness": 100
                                }
                            ]
                        },
                        {
                            "featureType": "road.local",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "visibility": "simplified"
                                },
                                {
                                    "hue": "#e9ebed"
                                },
                                {
                                    "saturation": -90
                                },
                                {
                                    "lightness": -8
                                }
                            ]
                        },
                        {
                            "featureType": "transit",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "on"
                                },
                                {
                                    "hue": "#e9ebed"
                                },
                                {
                                    "saturation": 10
                                },
                                {
                                    "lightness": 69
                                }
                            ]
                        },
                        {
                            "featureType": "administrative.locality",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "on"
                                },
                                {
                                    "hue": "#2c2e33"
                                },
                                {
                                    "saturation": 7
                                },
                                {
                                    "lightness": 19
                                }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "labels",
                            "stylers": [
                                {
                                    "visibility": "on"
                                },
                                {
                                    "hue": "#bbc0c4"
                                },
                                {
                                    "saturation": -93
                                },
                                {
                                    "lightness": 31
                                }
                            ]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "labels",
                            "stylers": [
                                {
                                    "visibility": "simplified"
                                },
                                {
                                    "hue": "#bbc0c4"
                                },
                                {
                                    "saturation": -93
                                },
                                {
                                    "lightness": -2
                                }
                            ]
                        }
                    ]
                });

                function showMarker(value) {
                    var m = new google.maps.Marker({
                        icon: customIcon,
                        position: {lat: value["latitude"], lng: value["longitude"]},
                        map: map,
                        title: value["text"]["content"]
                    });
                    markers.push(m);
                    return m;
                }

                function showCustomMarker(value) {
                    var m = new google.maps.Marker({
                        icon: customIcon2,
                        position: {lat: value["latitude"], lng: value["longitude"]},
                        map: map,
                        title: value["text"]["content"]
                    });
                    markers.push(m);
                    return m;
                }

                $.each(data["plots"], function (index, value) {
                    showMarker(value).addListener('click', function () {
                        $.getJSON("/relatives/closest/15/" + value["id"], function (data) {
                            console.log(data);
                            map.clearOverlays();
                            $.each(data["closest"], function (index, value) {
                                showCustomMarker(value);
                            });
                            showMarker(data["main"]);
                        });
                    });
                });
            });

            $("#reset").click(function () {
                console.log("Clicked");
                map.clearOverlays();

                initMap();
            })
        }
    </script>
</head>

<body class="">
<div class="island container">
    <!-- <a href="" id="zoom-northamerica">North America</a> <a href="" id="zoom-southamerica">South America</a> <a href="" id="zoom-europe">Europe</a> <a href="" id="zoom-asia">Asia</a> <a href="" id="zoom-africa">Africa</a>  <a href="" id="zoom-oceania">Oceania</a>-->
    <div>
        <h2 class="zetta text-center push-double"> Locate the species</h2>
    </div>
    <div class="world">
        <div class="embed embed-4by3">
            <div id="map" class="map embed-item absolute pin-c"></div>
        </div>
        <div class="text-center" id="floating-panel">
            <input class="green" id="reset" type=button value="Reset">
        </div>
    </div>


</body>
</html>