html {
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'EB Garamond', serif;
}

.btn {
    background-color: #fff;
    border: 1px solid #95989A;
    border-radius: 5px;
    color: #CEE182;
    text-decoration: none;
}

.btn:hover {
    background-color: #CEE182;
    border: 1px solid #95989A;
    border-radius: 5px;
    color: #fff;
}

.grey {
    color: #77817F;
}

.pf {
    font-family: 'Playfair Display', serif;
}

.green {
    background-color: #CEE182;
    border: 1px solid #CEE182;
    border-radius: 5px;
}

.circular-btn {
    display: inline-block;
    background-color: #CEE182;
    border: 10px solid #fff;
    border-radius: 50%;
    align-content: center;
}

.ib {
    display: inline-block;
}

.map {
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

a:focus {
    outline: 0;
}

btn:focus {
    outline: 0;
}

.container {
    display: block;
    margin: 0 auto;
}